* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3%;
}

.container-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
}

.container-content-top {
    display: flex;
    align-items: center;
    border-bottom-color: #50f;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    cursor: pointer;
}

.container-content-top-2 {
    display: flex;
    align-items: center;
    opacity: 0.50;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin: 0 20px 0 20px;
}

.container-content-top img {
    margin-right: 10px;
}

.container-content-top-item {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container-content-item h2 {
    margin: 0;
}


.container-bottom {
    width: 100%;
    display: flex;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    justify-content: center;

}

.container-content-bottom {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    width: 70%;
}

.container-content-bottom form {
    margin: 3rem;
    padding: 20px;
}

.container-bottom-input {
    display: flex;
    margin-bottom: 40px;
}

.container-bottom h2 {
    font-family: 'Inter', sans-serif;
    font-size: 25px
}

.container-bottom-input input {
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    transition: 500ms ease all;
}

.container-bottom-input input:focus {
    outline: none;
    border-color: #50f;
}


.container-bottom-input button {
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 12px;
    background-color: #b894c4
}

#container-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-button .button {
    width: 20rem;
    height: 4rem;
    background-color: var(--purple-400);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

@media (max-width: 800px) {
    .container-content-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
    }

    .container-top {
        margin-top: 2.5rem;
        margin-bottom: 0;
    }

    .container-content-bottom h2 {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .container-content-bottom span {
        margin: 1rem;
    }

    .container-bottom-input input {
        width: 22rem;
    }
    
    .container-content-bottom form {
        margin: 0;
        padding: 0;
    }
}