main {
    background-color: var(--main-background);
}

.services-list {
    padding-left: 0;
}

.hidden {
    display: none!important;
}

.accordion-button:not(.collapsed) {
    color: inherit!important;
    background-color: inherit!important;
}